#fPage{
  top: 0;
  height: 94vh;
  width: 100vw;
  opacity: 0.6;
  overflow-y: scroll;
}

.types {
  overflow-y: scroll;

}

.sublist1{
  top : 10%;
  left : 4%;
  height: 90vh;
  width: 40vw;
  list-style: none;
  font-size: 20pt;
  position: absolute;
  overflow-y: scroll;
  font-size: 12pt;
}

.sublist2{
  top : 10%;
  left : 50%;
  height: 90vh;
  width: 40vw;
  list-style: none;
  font-size: 20pt;
  position: absolute;
  overflow-y: scroll;
  font-size: 12pt;
}
